<div style="background-color: red;
            padding: 25px; 
            color: white; 
            font-size: 24px;">
    <b>IESB</b> - Centro Universitário de Brasília
    
</div>
<div style="background-color: OrangeRed;
            padding: 11px; 
            color: white; 
            font-size: 11px;">
    <b>Curso:</b> Análise e Desensolvimento de Sistemas
    
</div>

## Disciplina aprendizado de Máquina (ML)

**Autor**:    Prof. Rodrigo Gonçalves Pinto <br>
**Objetivo**: Introdução a linguagem python.<br>
**Bimestre**: 1º Bimestre 2023<br>

**Data criação**:  20/06/2023 <br>
**Data Alteração**: xx/xx/xxx  <br>
**Alteração Feita**:  xxxxxxxxxxx<br>
**Resp. pela alteração**: xxxxxxx<br>

<b><i>Versão: 1.0</i></b>

### Aritimética básica

In [15]:
# Soma
8 + 4

12

In [16]:
# Subtração
10 - 3

7

In [17]:
# Multiplicação
3 * 4

12

In [18]:
# Divisão
3 / 1

3.0

In [19]:
# Potência
4 ** 3

64

In [20]:
# Módulo
10 % 2

0

### Identificando tipos de dados com Type

In [21]:
type(100)

int

In [22]:
type(15.28)

float

In [23]:
caracteres_em_python = 'IESB - Instituto Superior de Brasília'
type(caracteres_em_python)

str

### Operações com números do tipo float.

In [24]:
3.10 + 8.10

11.2

In [25]:
5 + 8.10

13.1

In [26]:
7 + 7

14

In [27]:
# Resultado é um número float
8 / 2

4.0

In [28]:
# Resultado é um número inteiro
# // usado para divisão com retorno de número inteiro.
8 // 2

4

In [29]:
4 / 3.0

1.3333333333333333

In [30]:
4 // 3.0

1.0

### Conversão básica de valores quantitativos. 
- Casting

In [31]:
float(10)

10.0

In [32]:
int(125.7)

125

In [33]:
int(8.12598211)

8

### Conversão básica de valores hexadecimal e binários 
- Casting

In [34]:
hex(598)

'0x256'

In [35]:
hex(1000)

'0x3e8'

In [36]:
bin(55)

'0b110111'

### Utilizando algumas funções built-in
- abs()
- round()
- pow()

In [37]:
# abs()
# Retorna uma valor absoluto em módulo.

abs(-125.89)

125.89

In [38]:
# Retorna o valor absoluto em módulo.
abs(125.89)

125.89

In [39]:
#round()
# você diz para o round quantas casas decimais quer.

round(9.89, 2)

9.89

In [40]:
# round com 4 casas decimais
round(9.8989, 4)

9.8989

In [41]:
# Usando valores exponenciais com pow()

pow(2,2)

4

### Variáveis em python.
- Como declarar uma variável
- Tipagem dinâmica
- Declaração multipla
- Variáveis atribuidas a outras variávies
- Ordem dos operadores.
- Operações com variáveis
- Concatenação de variáveis.

In [42]:
# atribuindo uma valor a uma variável.
salario_funcionario = 1000.000

#OBS) python é case sensitive.
#Salario_Funcionario é diferente de salario_funcionario.

# imprimindo a variável
salario_funcionario

1000.0

In [43]:
# outra forma de imprimir resultados 
# utilizando o função print()
print(salario_funcionario)

1000.0

In [44]:
# note que agora a variável recebe uma string (texto)
salario_funcionario = "mil reais"

# imprimindo o valor da variável.
print(salario_funcionario)

mil reais

In [45]:
# vamos verificar agora o tipo da variável com type()
type(salario_funcionario)

str

In [46]:
# veja agora a mesma variável sendo atribuído um valor inteiro.
salario_funcionario = 250

# vamos imprimir e mostrar seu tipo.
print(salario_funcionario)

print(type(salario_funcionario))

250
<class 'int'>

In [47]:
# declaração múltipla
preco_picanha, preco_maminha, preco_entrecot = 55, 38, 45



print(preco_picanha)
print(preco_maminha)
print(preco_entrecot)

55
38
45

In [48]:
# outra possibilidade maluca de declaração múltipla.
# atribuição da atribuição de valores.
# perceba que o mesmo valor (bergamota) foi atribuído as 3 variáveis.

fruta_1 = fruta_2 = fruta_3 = "bergamota"

In [49]:
fruta_1

'bergamota'

In [50]:
fruta_2

'bergamota'

In [51]:
fruta_3

'bergamota'

In [52]:
# Variáveis atribuídas a outras variáveis 
# a ordem dos operados é a mesma seguida da aritmética básica.

# calculo do imc
# formula --> imc = peso / altura x altura.
peso = 80
altura = 1.72

imc = 80 / pow(altura, 2)

print(imc)

27.041644131963228

## Concatenação de variáveis.
- utilizando o operador +

In [53]:
nome = "Rodrigo"
nome_meio = "Gonçalves"

nome_completo = nome + nome_meio
print (nome_completo)


# Escrevendo o nome de forma correta.

nome_completo = nome + " " + nome_meio
print(nome_completo)

RodrigoGonçalves
Rodrigo Gonçalves

## Strings (textos)
- Criação de strings

In [54]:
# Para a criação de strings em python utilizar aspas simples '' ou aspas duplas ""
"bom dia"
# ou
'bom dia'

'bom dia'

In [55]:
# criando uma frase e imprimindo
# utilizando o operador \n

print("IESB \n- Centro \n Universitário")

IESB
- Centro
 Universitário

## Como as strings são indexadas?
- as strings em python iniciam com índice 0
- as listas também iniciam com índice 0. Veremos mais a frente.
- slice: [inicio : fim]
- slice: [inicio :fim: passo]

In [56]:
# indexação em python.
# perceba que o primeiro caractere inicia-se com zero.

texto = "IESB - Centro Universitário"

print(texto[0])
print(texto[1])
print(texto[2])
print(texto[3])

I
E
S
B

In [57]:
# Utilizando slice [inicio : fim]
# inicia da posição 1 vai até a quatro.
texto[1:4]

'ESB'

In [58]:
#  inverter uma string com -1
# perceba que o slice agora utiliza dois pontos duas vezes ::

#O índice de início é 0 (início da sequência).
#O índice de fim é o último índice da sequência, que é 10 (o comprimento da string "Olá, mundo!" é 11, mas os índices começam em 0, então o último índice é 10).
#O passo é 2, o que significa que você estará pulando de 2 em 2 índices.
#Portanto, o resultado da fatia [::2] na string "Olá, mundo!" seria "Oá ud!", porque:

#Índice 0: "O"
#Índice 2: "á"
#Índice 4: " "
#Índice 6: "u"
#Índice 8: "d"
#Índice 10: "!"

frase = "Olá, mundo!"
frase[::2]

'Oá ud!'

In [59]:
# Pode-se alterar então um caracter de uma frase, através da posição da string?
frase = "A Vida é boa!"

frase[0]= "O"

# ERRO: Não é possível alterar um elemento da string..

TypeError: 'str' object does not support item assignment

## Funções built-in para strings
- upper()
- lower()
- split()
- capitalize()
- title() 
- count()
- isalnum()
- islower()
- isspace()
- endwith()
- comparar strings com ==

In [ ]:
# upper
frase = "O Churras será sabadão, GaLeRA!"

frase.upper()

'O CHURRAS SERÁ SABADÃO, GALERA!'

In [ ]:
# lower
frase = "O Churras será sabadão, GaLeRA!"

frase.lower()

'o churras será sabadão, galera!'

In [ ]:
# split()
frase = "O Churras será sabadão, GaLeRA!"

# separa por um delimitador
frase.split("o")

['O Churras será sabadã', ', GaLeRA!']

In [ ]:
#split()
# outro exemplo:

#a string é dividida em no máximo 3 partes com base no caractere de espaço em branco.

frase = "Esta é uma frase com várias palavras em uma linha."

palavras = frase.split(" ", 3)  # Divide a string em 3 partes no máximo

print(palavras)

['Esta', 'é', 'uma', 'frase com várias palavras em uma linha.']

In [ ]:
# Capitalize()
# iniciar a frase com a primeira letra em maiúscula.

frase = "este recurso é bacana! "

frase.capitalize()

'Este recurso é bacana! '

In [ ]:
# title()
# iniciar a primeira letra de cada palavra na frase m maiúscula.

frase = "este recurso é bacana! "

frase.title()

'Este Recurso É Bacana! '

In [ ]:
# count()
# conta quantidade de letras

frase = "este recurso é bacana! "

# quantos 'a's  possui a setença?
frase.count("a")

3

In [ ]:
# isalnum()
# retorna se os caracteres são alfanuméricos (True ou False)
# alfanuméricos = letras (maiúsculas e minúsculas) e números. Todo o resto é falso.

frase = "este recurso é bacana! "
frase.isalnum()

False

In [ ]:
#islower()

frase = "este recurso é bacana! "

frase.islower()

True

In [ ]:
# isspace()

# verifica se todos os caracteres em uma string são espaços em branco. 
# ela retorna True se todos os caracteres da string forem espaços,
# tabulações, quebras de linha ou outros caracteres de espaço em branco,
# e False se houver pelo menos um caractere que não seja um espaço em branco.

frase = "este recurso é bacana! "

frase.isspace()

False

In [ ]:
# endswith()
# termina a string com.
frase = "Bom dia, ja amanheceu na fazendinha"

frase.endswith("dinha")

True

In [ ]:
# comparando string
# retorna verdadeiro ou falso

print("IESB" == "iesb")

False

# Fim