<div style="background-color: red;
            padding: 25px; 
            color: white; 
            font-size: 24px;">
    <b>IESB</b> - Centro Universitário de Brasília
    
</div>
<div style="background-color: OrangeRed;
            padding: 11px; 
            color: white; 
            font-size: 11px;">
    <b>Curso:</b> Análise e Desenvolvimento de Sistemas
    
</div>

## Disciplina aprendizado de Máquina (ML)

**Autor**:    Brenno Alves de Oliveira <br>
**Matricula** 21214290011 | **Turma** OADSN5A <br>
**Objetivo**: Introdução a linguagem python:exercícios<br>
**Bimestre**: 1º Bimestre 2023<br>

**Data criação**:  23/09/2023 <br>
**Data Alteração**: xx/xx/xxx  <br>
**Alteração Feita**:  xxxxxxxxxxx<br>
**Resp. pela alteração**: xxxxxxx<br>

<b><i>Versão: 1.0</i></b>

#### 1) Escreva um programa que solicite ao usuário um número e, em seguida, use um loop "for" para imprimir a tabuada desse número de 1 a 10.

In [7]:
numero = int(input("Digite seu número:"))

print(f'Tabuada do Número {numero}')

for i in range(1, 11):
    resultado = numero * i
    print(f'{numero} x {i} = {resultado}')

print(f'Essa foi a tabuada do número {numero}')

Tabuada do Número 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
essa foi a tabuada do número 10

#### 2) Crie um programa que receba uma lista de números e use um loop "for" para calcular a média dos números ímpares na lista.

In [12]:
numero = [1, 1, 0, 2, 3, 3]

soma = 0
contador = 0

for num in numero:
    if num % 2 != 0:
        soma += num
        contador += 1

media = soma / contador if contador > 0 else 0

print(f'A média dos números ímpares é: {media}' )

A média dos números ímpares é: 2.0

#### 3) Desenvolva um programa que gere os primeiros "n" números primos, onde "n" é fornecido pelo usuário. Use um loop "for" para encontrar e imprimir os números primos.

In [45]:
# definir uma funcao para verificar se um numero e primo
def eh_primo(n):
    # se o numero for menor que 2, ele nao e primo
    if n < 2:
        return False
    # se o numero for 2, ele e primo
    if n == 2:
        return True
    # se o numero for par, ele não e primo
    if n % 2 == 0:
        return False
    # usar um loop for para testar os divisores impares de 3 ate a raiz quadrada do numero
    for i in range(3, int(n**0.5) + 1, 2):
        # se o numero for divisivel por algum divisor, ele nao e primo
        if n % i == 0:
            return False
    # se nenhum divisor foi encontrado, o numero e primo
    return True

# solicitar ao usuario o valor de n
n = int(input("Digite o valor de n: "))

# inicializar uma variavel para contar quantos numeros primos foram gerados
contagem = 0

# inicializar uma variavel para representar o numero atual a ser testado
numero = 2

# usar um loop while para gerar os primeiros n numeros primos
while contagem < n:
    # verificar se o numero atual e primo usando a funcao definida anteriormente
    if eh_primo(numero):
        # Imprimir o numero primo
        print(f"O número primo é {numero}")
        # incrementar a contagem dos numeros primos gerados
        contagem += 1
    # incrementar o numero atual para testar o proximo candidato a primo
    numero += 1

O número primo é 2
O número primo é 3

#### 4) Crie um programa que receba uma lista de palavras e use um loop "for" para encontrar a palavra mais longa na lista.

In [20]:
word = ['brenno', 'rodrigo', 'nada', 'paralelepipedo']

for words in word:
    test = ''
    if(len(words) > len(test)):
        test = words

print(f'A palavra com mais caracteres é: {words}')

A palavra com mais caracteres é: paralelepipedo

#### 5) Escreva um programa que leia uma lista de números e use um loop "for" para encontrar o segundo maior número na lista.

In [41]:
numero = [2, 4, 1, 9, 10, 5]

bigger = max(numero[0], numero[1])
second_largest = min(numero[0], numero[1])

for num in numero[2:]:
    if num > bigger:
        second_largest = bigger
        bigger = num
    elif num > second_largest and num != bigger:
        segundo_maior = num

print(f'O segundo maior número é: {second_largest}')

O segundo maior número é: 9

#### 6) Crie um programa que peça ao usuário para adivinhar um número secreto (por exemplo, 42). Use um loop "while" para continuar pedindo palpites até que o usuário acerte o número.

In [34]:
value = int(input('Vamos começar o Game'))

while value != 43:
    value = int(input('Tente novamente'))

print('você conseguiu parabens')

você conseguiu parabens

#### 7) Escreva um programa que calcule quantos termos de uma sequência Fibonacci são necessários para atingir ou exceder um valor fornecido pelo usuário. Use um loop "while" para fazer esse cálculo.

In [47]:
def fibonacci_sequence(n):
    fib_sequence = [0, 1]

    while len(fib_sequence) < n:
        next_term = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_term)

    return fib_sequence

# Solicita ao usuário o valor limite
valor_limite = int(input("Digite o valor limite para a sequência Fibonacci: "))

# Inicializa o contador de termos
contador_termos = 0

# Inicializa o valor do último termo
ultimo_termo = 0

# Calcula os termos da sequência até atingir ou exceder o valor limite
while ultimo_termo <= valor_limite:
    contador_termos += 1
    ultimo_termo = fibonacci_sequence(contador_termos)[-1]

print(f'Número de termos para atingir ou exceder {valor_limite}: {contador_termos}')

Número de termos para atingir ou exceder 20: 9

#### 8) Implemente um programa que peça ao usuário para adivinhar uma palavra secreta, dando dicas após cada tentativa. Use um loop "for" para limitar o número de tentativas e um loop "while" para pedir palpites até que o número máximo de tentativas seja atingido.

In [49]:
# Palavra secreta que o usuário deve adivinhar
palavra_secreta = "python"

# Número máximo de tentativas
tentativas_maximas = 5

print("Bem-vindo ao jogo de adivinhação!")

for tentativa in range(tentativas_maximas):
    # Pede ao usuário para fazer uma tentativa
    palpite = input("Tente adivinhar a palavra: ")

    # Verifica se o palpite está correto
    if palpite.lower() == palavra_secreta:
        print("Parabéns! Você acertou a palavra.")
        break
    else:
        # Dá uma dica ao usuário
        print("Palpite incorreto. Tente novamente.")

# Se o loop terminar sem acerto, o programa informa que acabaram as tentativa
else:
    print("Você excedeu o número máximo de tentativas. A palavra secreta era:", palavra_secreta)

Bem-vindo ao jogo de adivinhação!

Parabéns! Você acertou a palavra.

#### 9) Desenvolva um programa que simule um jogo de adivinhação em que o computador escolhe um número aleatório e o jogador tem que adivinhar. Use um loop "for" para limitar o número de tentativas e um loop "while" para pedir palpites até que o jogador acerte ou esgote as tentativas.

In [ ]:
# O usuário insere o número secreto
numero_secreto = int(input("Digite o número secreto (não deixe ninguém ver!): "))

# Define o número máximo de tentativas
tentativas = 10

# Limpa a tela para que o número secreto não possa ser visto
print("\n" * 50)

# Loop for para limitar o número de tentativas
for i in range(tentativas):
    # O usuário insere seu palpite
    palpite = int(input("Digite seu palpite: "))
    
    # Loop while para continuar pedindo palpites até que o usuário acerte ou esgote as tentativas
    while palpite != numero_secreto and i < tentativas-1:
        # Verifica se o palpite é menor que o número secreto
        if palpite < numero_secreto:
            print("Seu palpite é menor que o número secreto.")
        # Se não for menor, então é maior (já que sabemos que não é igual)
        else:
            print("Seu palpite é maior que o número secreto.")
        
        # Incrementa a contagem de tentativas
        i += 1
        
        # Se ainda houver tentativas restantes, pede um novo palpite
        if i < tentativas:
            palpite = int(input("Digite seu próximo palpite: "))
    
    # Se o usuário acertou, parabeniza e encerra o loop
    if palpite == numero_secreto:
        print("Parabéns! Você acertou o número!")
        break
    # Se as tentativas se esgotaram, informa o número secreto
    elif i == tentativas-1:
        print("Você esgotou suas tentativas. O número secreto era ", numero_secreto)

#### 10) Carregue o arquivo "titanic.csv" em um DataFrame do Pandas e exiba as primeiras 5 linhas.

In [1]:
import pandas as pd

#importação do arquivo csv
dt = pd.read_csv('titanic.csv')

# Agora o DataFrame 'dt' contém os dados do seu arquivo CSV
print(dt.head())  # Exibe as primeiras 5 linhas do DataFrame

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           1            1         0       3
1           2            2         1       1
2           3            3         1       3
3           4            4         1       1
4           5            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

#### 11) Calcule a média de idade dos passageiros no Titanic.

In [12]:
import pandas as pd

#importação do arquivo csv
dt = pd.read_csv('titanic.csv')

# calculando a media de idade
middle_ages = int(dt['Age'].mean())

print(f'A media de idade é: {middle_ages}')

A media de idade é: 29

#### 12) Encontre o número de passageiros sobreviventes e não sobreviventes no Titanic.

In [6]:
import pandas as pd

# Carregue o arquivo CSV
dt = pd.read_csv('titanic.csv')

# Conte o número de sobreviventes e não sobreviventes
sobreviventes = dt[dt['Survived'] == 1].shape[0]
nao_sobreviventes = dt[dt['Survived'] == 0].shape[0]

print(f'Número de sobreviventes: {sobreviventes}')
print(f'Número de mortes: {nao_sobreviventes}')

Número de sobreviventes: 342
Número de mortes: 549

#### 13) Liste todos os nomes dos passageiros que têm mais de 70 anos de idade.

In [11]:
import pandas as pd

# Carregue o arquivo CSV
df = pd.read_csv('titanic.csv')

# Filtre os passageiros com mais de 70 anos
passenger_filter = df[df['Age'] > 70]

# Liste os nomes desses passageiros
passenger_names = passenger_filter['Name']

print(passenger_names)

96                Goldschmidt, Mr. George B
116                    Connors, Mr. Patrick
493                 Artagaveytia, Mr. Ramon
630    Barkworth, Mr. Algernon Henry Wilson
851                     Svensson, Mr. Johan
Name: Name, dtype: object

#### 14) Crie um gráfico de barras mostrando a contagem de passageiros por classe (1ª, 2ª e 3ª classe).

In [15]:
import pandas as pd

# importação do arquivo
df = pd.read_csv('titanic.csv')

# contagem do numero de passageiros
contagem_classe = df['Pclass'].value_counts()

print(contagem_classe)

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

#### 15) Encontre a idade média dos passageiros de cada classe (1ª, 2ª e 3ª classe) no Titanic.

In [22]:
import pandas as pd

# importação do arquivo
df = pd.read_csv('titanic.csv')

# Calculando a idade media por classe
middle_ages = dt.groupby('Pclass')['Age'].mean()

# Transformar em inteiro
middle_ages = middle_ages.astype(int)

print(middle_ages)

Pclass
1    38
2    29
3    25
Name: Age, dtype: int64

#### 16) Classifique o DataFrame por idade em ordem decrescente e mostre as 10 primeiras linhas.

In [25]:
import pandas as pd

# importação do arquivo
df = pd.read_csv('titanic.csv')

# classificando a idade de forma decrescente
dt_sort = dt.sort_values('Age', ascending=False)

# Mostra as 10 primeiras linhas
dt_sort.head(10)

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
672,673,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
745,746,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
33,34,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
280,281,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q

#### 17) Calcule a porcentagem de passageiros que sobreviveram em cada classe.

In [29]:
import pandas as pd

# importação do arquivo
dt = pd.read_csv('titanic.csv')

# filtra os passageiros sobrevivente, agrupa por classe e conta o número de passageiros em cada grupo
survivors_class = dt[dt['Survived'] == 1].groupby('Pclass').size()

# agrupa os passageiro e conta número de passageiros por grupo
total_class = dt.groupby('Pclass').size()

# calcula a porcentagem de passageiros em cada classe dividindo o numero de sobrevivente pelo total de cada classe multiplicado por 100
porcentagem_sobreviventes = (survivors_class / total_class) * 100

print(porcentagem_sobreviventes)

Pclass
1    62.962963
2    47.282609
3    24.236253
dtype: float64