<div style="background-color: red;
            padding: 25px; 
            color: white; 
            font-size: 24px;">
    <b>IESB</b> - Centro Universitário de Brasília
    
</div>
<div style="background-color: OrangeRed;
            padding: 11px; 
            color: white; 
            font-size: 11px;">
    <b>Curso:</b> Análise e Desensolvimento de Sistemas
    
</div>

## Disciplina aprendizado de Máquina (ML)

**Autor**:    Prof. Rodrigo Gonçalves Pinto <br>
**Objetivo**: Introdução a linguagem python. Pandas<br>
**Bimestre**: 1º Bimestre 2023<br>

**Data criação**:  20/06/2023 <br>
**Data Alteração**: xx/xx/xxx  <br>
**Alteração Feita**:  xxxxxxxxxxx<br>
**Resp. pela alteração**: xxxxxxx<br>

In [2]:
# importando uma biblioteca
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# criando um dataframe, com dicionário e lista
data = {'nome' : ["Alice", "Bob", "Carol"],
        'idade': [25     ,  30  ,  22    ]
       }

df = pd.DataFrame(data)

In [ ]:
# visualizar o dataframe.
df

In [ ]:
# Carregando dados de um arquivo .csv

caminho_absoluto ='.\\dados\\mcdonalds.csv'

# parâmetros ao carregar arquivos csv.

df_csv =pd.read_csv(caminho_absoluto)

In [ ]:
df_csv

In [ ]:
df_csv_2 = pd.read_csv('.\\dados\\mcdonalds.csv', 
                       delimiter=",", # delimitador é vírgula
                       header= 0,     # a primeira linha contém nomes de colunas
                       encoding= 'utf-8'
                      )

df_csv_2

In [ ]:
# verificando os tipos de dados de cada coluna de um dataframe

df_csv_2.dtypes

In [ ]:
# carregando dados de um arquivo em excel
df_excel = pd.read_excel(".\\dados\\novo_mcdonalds.xlsx", sheet_name ="McDonalds_Novo")


print(df_excel)

In [ ]:
# explorando um dataframe
# lista as primeiras 5 linhas
print(df_csv.head())

In [ ]:
del df_csv_2

In [ ]:
# o mesmo comando acima, mas gora com n=10
print(df_csv.head(n=10))

In [ ]:
# visualizando o final do dataset com tail
# n = igual o número de linhas utilizadas na visualização.
print(df_csv.tail(n=3))

In [ ]:
# visualizando  informações do dataset
# este comando visualiza a estrutura do dataset.

print(df_csv.info())

In [ ]:
# fazendo um resumo estatístico do dataset com describe()
print(df_csv.describe())

In [ ]:
# filtrando colunas
df_csv["Lanche"]

In [ ]:
# adicionando uma coluna a uma variável

coluna_lanches = df_csv["Lanche"]

print(coluna_lanches)
# print(type(coluna_lanches))

In [ ]:
# filtrando dados o python base
# perceba que utilizamos a referencia 2 vezes do dataframe.

df_filtrado = df_csv[df_csv["Lanche"] == "Angus Bacon"]

In [ ]:
# imprimindo o dataframe filtrado
print(df_filtrado)

In [ ]:
# ordenando os dados
# primeiro vamos visualizar o dataframe com apenas 15 linhas

print(df_csv.head(n=15))

# perceba que os lanches estão fora de ordem, vamos ordenálos.

In [ ]:
# ordenando o dataframe em ordem crescente
df_ordenado = df_csv.sort_values(by="Lanche")

print(df_ordenado)

In [ ]:
# ordenanção decrescente

df_ordenado_descrescente = df_csv.sort_values(by=["Lanche", "Valor Energetico"], ascending=False)


df_ordenado_descrescente

In [ ]:
# criando um dataframe
import numpy as np


# observe que criamos de propósito um vetor com nan.
df_na = pd.Series([1, 3, 5, np.nan, 6, 8])

print(df_na)
#print(type(df_na))

In [ ]:
# removendo valores nulos

df_sem_na = df_na.dropna()

print(df_sem_na)

In [ ]:
# aplicando uma função lambda a uma coluna de um dataframe,adicionando uma coluna

df_csv["nova_coluna"] = df_csv["Ferro"].apply(lambda x: x*2)

print(df_csv)

In [ ]:
# apagando uma coluna do dataframe

#del df_csv["Lancher"]
del df_csv["nova_coluna"]

In [ ]:
print(df_csv)

In [ ]:
# aplicando funções
# somando os valores de duas colunas e guardando o resultado em outra coluna

df_csv["calcio_ferro"] = df_csv["Calcio"] + df_csv["Ferro"]

print(df_csv)

In [ ]:
# utilizando funções built-in em dataframes
# média mean().
# aplicando a méddia
carboidrato_medio = df_csv["Carboidratos"].mean()

print(carboidrato_medio)

In [ ]:
# agrupamento de dados com groupby

grupo_valor_energetico= df_csv.groupby("Valor Energetico").count()

print(grupo_valor_energetico)

In [ ]:
# junção de dataframes
df1 = pd.DataFrame({'Chave': [1, 2, 3], 'Valor1': ['A', 'B', 'C']})

df2 = pd.DataFrame({'Chave': [2, 3, 4], 'Valor2': ['X', 'Y', 'Z']})

df_junto = pd.merge(df1, df2, on='Chave', how='inner')

print(df_junto)

In [ ]:
# gravando um arquivo csv

df_csv.to_csv('.\\dados\\novo_mcdonalds.csv', 
              index=False,
              sep= ";",
              encoding= "utf-8"
             )

In [ ]:
# gravando um arquivo excel

df_csv.to_excel(".\\dados\\novo_mcdonalds.xlsx", sheet_name ="McDonalds_Novo", index=False)

In [ ]:
# selecionando uma coluna do dataframe

df_csv["Lanche"]

In [ ]:
# selecionando mais de uma coluna
# utilizar colchetes duplos.
df_csv[["Lanche", "Carboidratos"]]

In [ ]:
# filtrando lanches onde as calorias > 300

#df_csv.head(n = 5)

calorias_maior_300 = df_csv[df_csv["Valor Energetico"] > 300]



print(calorias_maior_300.sort_values(by= "Valor Energetico"))

In [ ]:
# carregando o dataframe titanic

titanic = pd.read_csv("./dados/titanic.csv")

print(titanic.head(n = 2))

In [ ]:
# selecionando passageiros da segunda de terceira classe,apenas

class_23 = titanic[titanic["Pclass"].isin([2, 3])]

print(class_23.head(n = 2))

print(class_23.shape)
# retorna a quantidade de linhas e colunas da seleção.

In [ ]:
# o mesmo filtro acima pode ser realizado utilizando operadores..
# para filtros dessa natureza, não pode ser utilizado operadores comuns
# como and ou or. Ao invés disso , usar operador | = or e & = and.


class_23 = titanic[(titanic["Pclass"]== 2) |(titanic["Pclass"] ==3)]


print(class_23.shape)

In [ ]:
# Vamos fazer o mesmo código acima, só que agora usando &(and).

class_23 = titanic[(titanic["Pclass"] == 2) & (titanic["Pclass"] == 3)] 

print(class_23.shape)
# porque retornou um dataset vazio??

In [ ]:
# trabalhando com dataset que a idade não contem valores na.
idade_sem_na = titanic[titanic["Age"].notna()]

print(idade_sem_na)

In [ ]:
# Filtrando nomes dos passageiros maiores que 35 anos e sua classe.
# Quando querer apenas uma coluna apos o teste booleano, não precisa usar
# parenteses.
# usando a instrução loc
# após a vírgula, vem o nome da coluna que necessitamos

passageiros_mais_35 = titanic.loc[titanic["Age"] > 35, ("Name", "Pclass")]

print(passageiros_mais_35)

In [ ]:
# Usando a instruçao iloc para buscar dados no dataset
# o iloc busca dados atrvés de linhas e colunas
# é utlizado para fazer slice.

#neste exmplo vamos buscar dados que iniciam na lina 10 até 25 e colunas 3 e 5
# iloc[inicio_linha:fim_linha, inicio_coluna : fim_coluna]
# lembrando que os indices começam do zero.

#titanic.head(n = 2)

titanic.iloc[9:25, 2:5]

In [ ]:
# Como criar gráficos com pandas
# usando o pacote matplotlib.pyplot as plt
# os métodos plot, são aplicados em dataframes.
# por default, cada coluna é plotada com um diferente elemento( linha, boxplot)
# Qualquer plot criar pelo pandas é um Matplotlib objeo.


import matplotlib.pyplot as plt

In [ ]:
# Para estes exemplos,vamos utilizar um dataset que verifica a qualidade do ar.

# importando o dataset que está em csv.

air_quality = pd.read_csv(".\\dados\\air_quality_no2.csv", index_col=0, parse_dates =True)

In [ ]:
print(air_quality)

In [ ]:
# visualizando um gráfico padrão.
# perceba que primeiro é necessário montar o gráfico com o método plot().
# após, é ncessário solicitar para o python mostrar o gráfico com método show.

air_quality.plot()

plt.show()

#observe que por default, o pandas através de um dataframe , cria um gráfico de linnhas 
#com os dados contidos no dataset.

In [ ]:
# vamos ir fatiando este gráfico.
# vamos agora plotar um gráfico com os dados somente de Paris.
air_quality["station_paris"].plot()
    
plt.show()

In [ ]:
# Fazendo um gráfico scatter plot, ou dispersão de pontos.

# neste exemplo vamos criar um gráfico onde é possível comparar
# a emissão de NO2 (Dióxido de Nitrogênio) entre londres e Paris.

air_quality.plot.scatter(x= "station_london",y="station_paris", alpha = 0.5)

plt.show()

In [ ]:
# Verifica quais gráficos podemos fazer com plot.

[
    method_name
    for method_name in dir(air_quality.plot)
    if not method_name.startswith("_")
]

In [ ]:
# fazendo um boxplot

air_quality.plot.box()

plt.show()

In [ ]:
# plotando cada coluna em um subgráfico separado.
# figsize = tamanho da figura(largura, altura)
subgrafico = air_quality.plot.area(figsize=(15,5), subplots= True)

plt.show()

In [ ]:
# customizando um gráfico com label e  gravar.

fig, grafico_areas = plt.subplots(figsize=(12, 4)) # cria a area vazia de um gráfico

air_quality.plot.area(ax=grafico_areas) # usa pandas para colocar um gráfico.


subgrafico.set_ylabel("NO2_2 concentration") # utiliza escrita no eixo das ordenadas


fig.savefig(".\\dados\\no2_concentrations.png") # grava o gráfico em uma pasta no formato png

plt.show() # mostra o gráfico.

In [ ]:
# Voltando ao pandas.
# como criar uma nova coluna derivando de colunas já existentes

# exemplo,
# expressar a concentração de NO2( dióxido de nitrogênio) nas estção de londres em mg/m3.
# para esta conversão, é necessário assumir a temperatura de 25 graus Celsius e pressão de 1013 hPa para poder
# usar a constante 1.882.

air_quality["londres_mg_por_m3"] = air_quality["station_london"]* 1.882

air_quality.head(n =3)


# o cálculo dos elementos são feitos sem a necessidade de efetuar uma instrução FOR.
# ou qualquer estrutura de laço. A fórmula é aplicada elemento por elemente em cada coluna.